#DJ {background-color: red; color: white;font-family: sans-serif;}
#Silva {background-color: green; color: white;font-family: sans-serif;}
#GSP {background-color: blue; color: white;font-family: sans-serif;}
#bones {background-color: black; color: white; font-family: sans-serif;}
#intro 
div {font-family: sans-serif; display: inline; margin: 0auto}
h1 {text-align: center; font-family: sans-serif;}
h2 {text-align: center; font-family: sans-serif;}
p {text-align: center; font-family: sans-serif;}